In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from scipy.interpolate import CubicSpline

In [5]:
path = r'C:\Users\SGrah\OneDrive\Documents\Scott\Masters\Thesis\Data\GDP data Sep-21.csv'

df = pd.read_csv(path, header=0, usecols=[0,1,2,3,4,5,6,7], nrows=112, index_col=[0])
df

           NZ  Unemployment  CPI  Export prices  Import prices  HPI   OICR
Year-Qtr
Mar-90    0.2           7.2  7.2           -0.2           -0.4  2.1  13.45
Jun-90   -0.5           7.7  7.0           -2.7            0.7  0.7  13.25
Sep-90   -0.3           8.1  7.6           -2.3           -2.1  0.6  13.96
Dec-90    0.0           8.9  5.0            0.8            6.8 -0.2  13.01
Mar-91    0.2           9.8  4.9           -3.1           -1.6 -0.6  11.76
...       ...           ...  ...            ...            ...  ...    ...
Dec-16    4.0           5.3  0.4            4.9           -0.9  0.9   1.77
Mar-17    3.8           4.9  1.3            6.9            2.9  1.5   1.68
Jun-17    3.6           4.8  2.2            2.2            1.3  0.2   1.67
Sep-17    3.4           4.6  1.7           -1.7           -2.9  1.1   1.64
Dec-17    3.5           4.5  1.9            5.5            3.9  1.1   1.64

[112 rows x 7 columns]

In [8]:
# Step 1: Create monthly index
df.index = pd.to_datetime(df.index, format="%b-%y")
dates_m = pd.date_range(df.index.min(), df.index.max(), freq="M")

# Step 2: Map quarterly index to integer positions
x_q = np.arange(len(df))  # quarterly positions
x_m = np.linspace(0, len(df)-1, len(dates_m))  # monthly positions

# Step 3: Fit cubic spline for ALL columns (matrix)
cs = CubicSpline(x_q, df.values, axis=0)

# Step 4: Evaluate spline at monthly positions
values_m = cs(x_m)

# Step 5: Build new DataFrame with same column names
df_m = pd.DataFrame(values_m, index=dates_m, columns=df.columns)

print("\nMonthly disaggregated data:")
print(df_m.head(12))

Monthly disaggregated data:
                  NZ  Unemployment       CPI  Export prices  Import prices  \
1990-03-31  0.200000      7.200000  7.200000      -0.200000      -0.400000
1990-04-30 -0.191824      7.421262  6.598068      -1.095623       2.348572
1990-05-31 -0.413629      7.579601  6.622748      -1.983732       2.316567
1990-06-30 -0.500281      7.701006  7.004230      -2.705286       0.681604
1990-07-31 -0.486643      7.811467  7.472707      -3.101240      -1.378697
1990-08-31 -0.407581      7.936974  7.758370      -3.012553      -2.686718
1990-09-30 -0.297958      8.103516  7.591411      -2.280181      -2.064842
1990-10-31 -0.187400      8.329377  6.828960      -0.920761       1.037231
1990-11-30 -0.085677      8.603645  5.809182       0.383323       4.792532
1990-12-31  0.002147      8.908487  4.984170       0.792015       6.811066
1991-01-31  0.073775      9.225332  4.677383      -0.197831       5.473649
1991-02-28  0.137134      9.532871  4.737775      -1.846586       2.004400

                 HPI       OICR
1990-03-31  2.100000  13.450000
1990-04-30  1.290701  13.052947
1990-05-31  0.863450  13.033316
1990-06-30  0.699344  13.252632
1990-07-31  0.679483  13.572422
1990-08-31  0.684966  13.854212
1990-09-30  0.596891  13.959527
1990-10-31  0.342942  13.794654
1990-11-30  0.027342  13.435503
1990-12-31 -0.203878  12.998155
1991-01-31 -0.270511  12.573964
1991-02-28 -0.335154  12.163061

In [9]:
df_m.to_csv(r"C:\Users\SGrah\OneDrive\Documents\Python Scripts\Jupyter Notebooks\Transformer\Economics example\monthly_data.csv")